@import url(https://fonts.googleapis.com/css?family=Bad+Script:300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Zilla+Slab:300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Bungee+Shade:300,300i,400,400i,500,500i,700,700i);


/* Create a highlighted class called 'hi'  */
.hi {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-pink {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-slate {
  font-weight: 600;
  color: #314f4f !important;
}
.hi-turquoise {
  font-weight: 600;
  color: #44C1C4 !important;
}
.hi-purple {
  font-weight: 600;
  color: #6A5ACD !important;
}
.hi-orange {
  font-weight: 600;
  color: #FFA500 !important;
}
.hi-yellow{
  font-weight: 600;
  color: #D8BD44 !important;
}
.hi-green {
  font-weight: 600;
  color: #7CAE96 !important;
}
.hi-grey {
  font-weight: 600;
  color: #8AA19E !important;
}
.hi-blue {
  font-weight: 600;
  color: #3b3b9a !important;
}
.hi-red {
  font-weight: 600;
  color: #fb6107 !important;
}
/* Pink text */
.pink {
  color: #e64173 !important;
}
/* Slate ("darkslategrey") text */
.slate {
  color: #314f4f !important;
}
/* Turquoise ("lightseagreen") text */
.turquoise {
  color: #44C1C4 !important;
}
/* Purple-ish ("slateblue") text */
.purple {
  color: #6A5ACD !important;
}
/* Orange ("orange") text */
.orange {
  color: #FFA500 !important;
}
.yellow{
  color: #D8BD44 !important;
}
.green {
  color: #7CAE96 !important;
}
.grey {
  color: #8AA19E !important;
}
.blue {
  color: #3b3b9a !important;
}
.red {
  color: #fb6107 !important;
}

/* Grey text */
.grey-mid {
  color: #7f7f7f !important;
}
/* Grey text */
.grey-vlight {
  color: #e5e5e5 !important;
}
/* White text */
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}

/* Mono-spaced font */
.mono {
  font-family: monospace;
}
/* Underline */
.ul {
  text-decoration: underline;
}
/* Overline */
.ol {
  text-decoration: overline;
}
.st {
  text-decoration: line-through;
}
/* Bold */
.b {
  font-weight: bold;
}
/* Fraction */
.top{
  display:inline-block;
}
.bottom{
  border-top:solid black 1px;
  display:inline-block;
  clear:left;
}

.remark-code-line-highlighted {
  background-color: rgba(249, 39, 114, 0.5);
}

.bigger {
  font-size: 125%;
}
.huge{
  font-size: 150%;
}

.small {
  font-size: 95%;
}
.smaller {
  font-size: 85%;
}
.smallest {
  font-size: 75%;
}

.tiny {
  font-size: 50%;
}

.remark-slide-content {
  background-color: #ffffff;
  font-size: 24px;
  /* font-weight: 300; */
  /* line-height: 1.5; */
  /* padding: 1em 2em 1em 2em; */
}

.inverse {
  background-color: #23373B;
  text-shadow: 0 0 20px #333;
  /* text-shadow: none; */
}

.title-slide {
  background-color: #FAFAFA;
}

.footnote {
  bottom: 1.5em;
  font-size: 70%;
}

/* Turn off slide numbers */
.remark-slide-number {
  /* display: none; */
}

.dark-slide {
  background-color: #23373B;
  border-top: 0px solid #23373B;
}
.dark-slide .remark-slide-number {
  display: none;
}

.white-slide {
  background-color: #ffffff;
  border-top: 0px solid #ffffff;
}
.white-slide .remark-slide-number {
  display: none;
}

.mjx-chtml{
  font-size: 103% !important;
}

/* Mono-spaced font, smaller */
.mono-small {
  font-family: monospace;
  font-size: 20px;
}
.mono-small .mjx-chtml {
  font-size: 103% !important;
}

.pseudocode, .pseudocode-small {
  font-family: monospace;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}

.super{
  vertical-align: super;
  font-size: 70%;
}
.sub{
  vertical-align: sub;
  font-size: 70%;
}

.remark-code {
  font-size: 80%;
}

.inverse > h2 {
  color: #e64173;
  font-weight: 300;
  font-size: 40px;
  font-style: italic;
  margin-top: -25px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: rgba(249, 38, 114, 0.75);
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  font-style: normal;
  text-align: left;
  margin-left: 15px;
}

.remark-inline-code {
  background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

/* 2/3 left; 1/3 right */
.more-left {
  float: left;
  width: 63%;
}
.less-right {
  float: right;
  width: 31%;
}
.more-right ~ * {
  clear: both;
}

/* 9/10 left; 1/10 right */
.left90 {
  padding-top: 0.7em;
  float: left;
  width: 85%;
}
.right10 {
  padding-top: 0.7em;
  float: right;
  width: 9%;
}

/* 95% left; 5% right */
.left95 {
  padding-top: 0.7em;
  float: left;
  width: 91%;
}
.right05 {
  padding-top: 0.7em;
  float: right;
  width: 5%;
}

/* Extra left padding */
.pad-left {
  margin-left: 5%;
}

/* Format tables */
table {
  color: #000000;
  font-size: 16pt;
}
th, td {
  background-color: #ffffff;
  /* color: #314f4f; */
}

/* Question and answer */
.qa {
  font-weight: 500;
  /* color: #314f4f !important; */
  color: #e64173 !important;
  font-family: 'Zilla Slab' !important;
}

/* Example */
.ex {
  font-weight: 300;
  /* color: #314f4f !important; */
  color: #8AA19E !important;
}
